.songslist-display
    background: rgba(255, 255, 255, 0.32)
    border-radius: 5px
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%)
    backdrop-filter: blur(4.2px)

    height: 400px
    padding: 5px

.title
    background-color: rgba(248, 247, 216, 0.7)
    border-radius: 5px
    text-align: center

.songslist-container ul
    padding: 0
    margin: 0

.songslist-grid
    display: grid
    grid-template-columns: auto auto
    gap: 5px
    grid-auto-rows: auto
    padding: 5px

.songslist-grid li
    list-style: none
    background-color: rgba(248, 247, 216, 0.7)
    border-radius: 5px