<div class="songslist-display">
    <div class="title">
        <h3>{{ listName }}</h3>
    </div>

    <div class="songslist-container">
        <ul class="songslist-scroll">
            <div class="songslist-grid">
                <li class="songslist-card" *ngFor="let songs of songObject">
                    <h5>{{ songs.songName }}</h5>
                    
                    <div class="songslist-player">
                        <app-music-player [songPath]="songs.songPath"></app-music-player>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>