
    <mat-toolbar class="backgroundToolbar">
        
        <div>
            <a routerLink="" > <img class="logo" src="/assets/firebeats-logo.svg" alt="firebeats logo"></a>
        </div>
        <div class="spacer"></div>
       <div class="div">
             <button mat-stroked-button class="button-row" style="flex: 1 1 auto;">Registrarse</button>
             <button (click)="ingresar()" mat-stroked-button class="button-row">Ingresar</button>
             <button mat-stroked-button class="button-row">Para creadores</button>
        </div> 
        
    </mat-toolbar>


