<p>
    <mat-toolbar class="backgroundToolbar">
        <button mat-button routerLink="">
            <img class="logo" src="/assets/firebeats-logo.svg" alt="firebeats logo"></button>
        <div class="buttons">
            <button mat-stroked-button class="button-row">Registrarse</button>
            <button (click)="ingresar()" mat-stroked-button class="button-row">Ingresar</button>
            <button mat-stroked-button class="button-row">Para creadores</button>
        </div>
    </mat-toolbar>
</p>