.playlist-component
    margin: 0
    padding: 0
    margin-top: 30px
    margin-left: 15px
    margin-bottom: 30px
    width: 300px
    height: 500px
    max-width: 350px
    max-height: 550px
    background: linear-gradient(306deg, rgba(175,89,218,1) 0%, rgba(79,45,158,0.850577731092437) 100%)
    border-radius: 10px
    box-shadow: 10px 10px 30px -7px rgb(0 0 0 / 54%)

.container
    width: fit-content 200px
    height: auto
    padding: 10px
    max-height: 500px
    border-radius: 10px

.tabber
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.32)
    border-radius: 16px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(4.2px)
    -webkit-backdrop-filter: blur(4.2px)

    box-shadow: 10px 10px 30px -7px rgb(0 0 0 / 54%)
    padding: 5px 20px

.tabs
    display: flex
    justify-content: space-evenly
    margin: 0
    padding: 0

.tabs .tab
    padding: 5px
    background-color: rgba(248, 247, 216, 0.7)
    margin: 0
    border-radius: 20px
    padding: 5px 20px
    font-size: 15px

.tab:hover
    color: white
    background: linear-gradient(306deg, rgba(175,89,218,1) 0%, rgba(79,45,158,0.850577731092437) 100%)
    cursor: pointer
    fill: white

.tab svg
    width: 15px
    fill: black

.active
    color: white
    background: linear-gradient(306deg, rgba(175,89,218,1) 0%, rgba(79,45,158,0.850577731092437) 100%)

.content
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.32)
    border-radius: 5px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(4.2px)
    -webkit-backdrop-filter: blur(4.2px)

.title h2
    font-size: 20px
    color: rgb(0, 0, 0)
    font-weight: bold
    padding: 10px 10px
    text-align: center

.list-display ul
    padding: 0
    margin: 0
    padding: 10px

.list-container
    overflow-y: hidden
    overflow: auto
    scroll-behavior: smooth
    max-height: 345px

::-webkit-scrollbar
    width: 5px

.list-card
    display: flex
    justify-content: space-between
    list-style: none
    background-color: rgba(248, 247, 216, 0.4)
    border-radius: 10px
    margin-bottom: 10px
    padding: 5px

.list-card li
    padding: 0
    margin: 0

.list-card li p
    margin-left: 50px
    font-size: 18px

.many-songs
    width: 70px
    height: auto
    max-width: 70px
    max-height: 70px
    border-radius: 10px
    background: linear-gradient(0deg, rgba(68,32,87,1) 0%, rgba(171,108,228,0.43040966386554624) 51%, rgba(130,44,207,0.49763655462184875) 67%)

.many-songs p
    font-size: 20px
    font-weight: bolder
    text-align: center

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.32)
    border-radius: 5px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(4.2px)
    -webkit-backdrop-filter: blur(4.2px)
