<app-header></app-header>
<div class="pagina-registrar">

    <form [formGroup]= "form"  (ngSubmit)="registrar()">
            
        <img src="../../../assets/img/user.svg" width="200px">
        <h1 class="txt">Registro</h1>

        <mat-form-field class="ancho" appearance="fill">
            <mat-label class="label">Usuario</mat-label>
            <input class="input" matInput autocomplete="off" formControlName="UserName">
        </mat-form-field>

        <mat-form-field class="ancho" appearance="fill">
            <mat-label class="label">Contraseña</mat-label>
            <input class="input" type="password" matInput autocomplete="off" formControlName="UserPassword">
        </mat-form-field>

        <mat-form-field class="ancho" appearance="fill">
            <mat-label class="label">Email</mat-label>
            <input class="input" type="password" matInput autocomplete="off" formControlName="UserEmail">
        </mat-form-field>

        <mat-radio-group aria-label="Select an option">
            <mat-radio-button checked value="0">Solo quiero Escuchar </mat-radio-button>
            <mat-radio-button value="1">Artista</mat-radio-button>
        </mat-radio-group>
        
        <br>

        <input type="hidden" name="cityId" value="cityId">

        <button type="submit" mat-raised-button class="registerBtn ancho button" color="primary" [disabled]="form.invalid" >Registrar</button>
    </form>

</div>