  <p>
    <mat-toolbar style="background: linear-gradient(90deg, rgba(134,46,228,1) 0%, rgba(32,9,119,1) 100%)">
        <img class="logo" src="/assets/firebeats-logo.svg" alt="firebeats logo">
        <div class="buttons">
        <button mat-stroked-button class="button-row">Registrarse</button> 
        
        <button mat-stroked-button class="button-row">Ingresar</button>
        <button mat-stroked-button class="button-row">Para creadores</button>
        </div>
       
    </mat-toolbar>
  </p>
  <section>
   
  </section>

<router-outlet></router-outlet>
