<app-header></app-header>

<section>
    <!--  
         <div class="pulse">
         <i class="fa-solid fa-headphones"></i>
    </div> 
    -->

    <div class="c">
        <div class="c1">
        </div>
        <div class="c2">
        </div>
        <div class="c3">
        </div>
        <div class="c4">

            <h2 class="title">CONECTATE A FIREBEATS</h2>
            <h6 class="text">Disfruta tu musica favorita a otro nivel,al mismo tiempo <br>
                que exploras un sin fin de nuevas canciones.
            </h6>
            <a routerLink=""> <img class="logo" src="/assets/headphones.svg" alt="headset logo"></a>

        </div>
        <div class="c5">
        </div>
        <div class="c6">
        </div>
        <div class="c7">
        </div>

    </div> 

    <div class="SD">
        <mat-form-field appearance="fill" class="fill">
            <mat-label class="search">Search your favorite artist</mat-label>
            <input matInput placeholder="Search your favorite artist" class="search" />
            <mat-icon class='search-icon' color="primary" matPrefix>search</mat-icon>

        </mat-form-field>

    </div>
   
</section>