<app-header></app-header>

<section>
    <!--  
         <div class="pulse">
         <i class="fa-solid fa-headphones"></i>
    </div> 
    -->

    <div class="c">
        <div class="c1">
        </div>
        <div class="c2">
        </div>
        <div class="c3">
        </div>
        <div class="c4">

            <h2 class="title">CONECTATE A FIREBEATS</h2>
            <h6 class="text">Disfruta tu musica favorita a otro nivel,al mismo tiempo <br>
                que exploras un sin fin de nuevas canciones.
            </h6>
            <a routerLink=""> <img class="logo" src="/assets/headphones.svg" alt="headset logo"></a>

        </div>
        <div class="c5">
        </div>
        <div class="c6">
        </div>
        <div class="c7">
        </div>

    </div> 
    <br>
    <form class="form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Assignee</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" class="search">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let Option of options | async" [value]="Option">
              {{Option.SongName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
</section>