<div class="song-upload">
    <div class="form-title">
        <h2>Subí tus canciones</h2>
    </div>
    
    <form [formGroup]="songForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="songname">Nombre Canción:</label>
            <input type="text" id="songname" formControlName="songname" placeholder="Nombre de la canción">
        </div>

        <div class="form-group">
            <label class="file-box">
                <input type="file" (change)="uploadFile($event)" formControllerName="file">
            </label>
        </div>

        <div class="form-group">
            <button class="submit-button">Upload Song</button>
        </div>
    </form>
</div>