<div class="form-title">
    <h2>Share your songs</h2>
</div>

<form class="form-container" [formGroup]="songForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <mat-form-field>
        <mat-label>Song Name</mat-label>
        <input matInput formControlName="songname">
    </mat-form-field>

    <div>
        <input class="file-box" type="file" (change)="uploadFile($event)" formControllerName="file">
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Genres</mat-label>
        <mat-select formControlName="genreId">
            <mat-option [value]="genre.id" *ngFor="let genre of genres">
                {{ genre.genreName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Albums</mat-label>
        <mat-select formControlName="albumId">
            <mat-option [value]="album.id" *ngFor="let album of albums">
                {{ album.albumName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button class="submit-button">Upload Song</button>
</form>