.form-container
    background: rgba(255, 255, 255, 0.32)
    border-radius: 5px
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%)
    backdrop-filter: blur(4.2px)

.form-title
    font-size: 15px
    text-align: center
    color: rgb(53, 34, 94)
    background-color: rgba(248, 247, 216, 0.7)
    border-radius: 5px

.file-box
    border: 1px solid #ccc
    display: inline-block
    padding: 6px 12px
    cursor: pointer
