<div class="song-upload">

    <!-- Apply DropZone Directive -->
    <div *ngIf="!files.length" class="dropzone" appDropzone (files)="filesDropped($event)">
        <div class="text-wrapper">
            <div class="centered">Drop your file here!</div>
        </div>
    </div>

    <!--Preview-->
    <div *ngFor="let file of files">
        <img *ngIf="file" [src]="file.url" width="100px" height="100px">
    </div>
    
    <button type="button" (click)="upload()">Upload Image</button>

</div>
