.logo
    width: 250px
    margin: 30px

.game-container
    position: absolute
    width: 100%
    top: 50%
    left: 0
    right: 0
    transform: translate(0,-50%)
    z-index: -1

.space-out
    display: flex
    justify-content: space-between