<div class="space-out">
    <app-playlist></app-playlist>

    <div class="songs-component">
        <div class="tabber">
            <ul class="tabs" id="tabs">
                <li class="tab active">
                    Songs
                </li>
                <li class="tab">
                    Upload
                </li>
            </ul>
        </div>

        <div class="songs-content">
            <!--<app-songs-display class="active"></app-songs-display>--> 

             <app-song-upload></app-song-upload>
        </div>
    </div>
</div>

<app-music-player></app-music-player>

<div class="game-container">
    <app-game></app-game>
</div>