.logo
    width: 250px
    margin: 30px

.game-container
    position: absolute
    width: 100%
    top: 50%
    left: 0
    right: 0
    transform: translate(0,-50%)
    z-index: -1

.space-out
    display: flex
    justify-content: space-between

.songs-component
    background: linear-gradient(306deg, rgba(175,89,218,1) 0%, rgba(79,45,158,0.850577731092437) 100%)
    width: 300px
    max-width: 350px
    height: auto
    margin-right: 30px
    padding: 20px
    border-radius: 10px
    font-size: 15px
    box-shadow: 10px 10px 30px -7px rgb(0 0 0 / 54%)
    transition: 0.5s all

.playlist-component
    margin: 0
    padding: 0
    margin-top: 30px
    margin-left: 15px
    margin-bottom: 30px
    width: 300px
    height: 500px
    max-width: 350px
    max-height: 550px
    background: linear-gradient(306deg, rgba(175,89,218,1) 0%, rgba(79,45,158,0.850577731092437) 100%)
    border-radius: 10px
    box-shadow: 10px 10px 30px -7px rgb(0 0 0 / 54%)
