<div class="space-out">
    <!-- Falta de aplicarle el tabber y arreglar estilos -->
    <app-playlist-display></app-playlist-display>

    <app-tabber class="songs-component">
        <app-tab [tabTitle]="'Songs'">
            <app-songs-display></app-songs-display>
        </app-tab>
        <app-tab [tabTitle]="'Upload'">
            <app-song-upload></app-song-upload>
        </app-tab>
    </app-tabber>
</div>

<app-music-player></app-music-player>

<div class="game-container">
    <app-game></app-game>
</div>