<div class="title">
  <h4>Add to Playlist</h4>
</div>

<form class="form-song" [formGroup]="songFormPlaylist" (ngSubmit)="updateSong()">
  <mat-form-field appearance="fill">
    <mat-label>Playlist preferred</mat-label>
    <mat-select formControlName="playlistId" ng-model="list.id == playlistId">
      <mat-option *ngFor="let list of lists" [value]="list.id">
        {{list.playlistName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="song-list-button">
    <button>Add Song To List</button>
  </div>
</form>